.bar{
    display: flex;
    justify-content: space-around;
}
.buttons-containers{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-containers a{
    margin:0 10px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: blue;
    color:white;
    border:none;
    border-radius: 6px;
}

.set-reminder-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border:1px solid black;
  }